.action {
    display: flex;
    align-items: center;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.inputgroup {
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
    justify-content: space-between;

    .space {
        width: 300px;
        gap: 0px;
    }

    .search {
        width: 200px;
    }

    .popconfirm {
        margin-right: 18px;
    }
}