.action {
    display: flex;
    align-items: center;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.url {
    padding: 0;
    width: 100%;

    .span {
        width: 100%;
    }
}


.button {
    margin-bottom: 1.5%;
    margin-left: 85%;

    &:last-child {
        margin-right: 0;
    }
}

.select {
    margin-bottom: 1.5%;
    width: 120px;
    margin-right: 8px;
}