.buttonGroup {
    display: flex;
    flex-direction: column;

    .button {
        padding: 0;

        span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}