.action {
    display: flex;
    justify-content: space-between;

    .buttonGroup {
        display: flex;
        align-items: center;

        .div {
            display: flex;
            align-items: center;

            .icon {
                width: 20px;
                height: 20px;
            }
        }

        button {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.tableAction {
    display: flex;
    align-items: center;

    .div {
        display: flex;
        align-items: center;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.table {
    margin-top: 20px;
}