.content {
    margin-top: 20px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

    .buttonGroup {
        display: flex;
        align-items: center;

        button {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.tableAction {
    display: flex;
    align-items: center;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}