.action {
  display: flex;
  justify-content: flex-end;
}

.buttonGroup {
  button {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.formItem {
  margin-bottom: 0;
  font-weight: bold;
}

.count {
  color: #0000FF;
}

.success {
  color: #0000FF;
}

.fail {
  color: #FF0000
}

.table {
  margin-top: 20px;
}