.action {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.table {
    margin-top: 20px;
}