.content {
    margin-top: 20px;
}

.tableAction {
    display: flex;
    align-items: center;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.action {
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
    justify-content: space-between;
    margin-left: 20px;

    .space {
        width: 300px;
        gap: 0px;
    }

    .search {
        width: 200px;
    }

    .button {
        margin-right: 18px;
    }
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}