.action {
  display: flex;
  justify-content: flex-end;
}

.buttonGroup {
  button {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.img {
  object-fit: cover;
  border-radius: 5px;
}


.table {
  margin-top: 20px;
}