.action {
    display: flex;
    align-items: center;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.span {
    margin-left: 40px;
}

.select {
    margin-bottom: 1.5%;
    width: 120px;
    margin-left: 10px;
}

:global(.ant-input-group-wrapper.ant-input-search.ant-input-search-with-button) {
    width: 150px;
    margin-left: 8px;
}